@import "/src/style/variables.scss";

.aside-bar {
    position: fixed;
    z-index: 100;
    height: 100%;
    margin: 72px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 13rem;

    padding: 30px 10px 0px;
    background: $main-bg-color;

    .nav-bar {
        &__item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            color: $nav-item-color;
            border-radius: 15px;
            padding: 10px 15px;
            cursor: pointer;

            &_active {
                pointer-events: none;
                background: $active-item-bg;
                color: $nav-active-item-color;
            }

            &:hover {
                background: $active-item-bg;
            }

            svg {
                color: $nav-item-color;
                fill: currentColor;
                stroke: none;
                margin: 0 15px 0px 0px;
            }
        }
    }

    .divider {
        margin: 10px 0px 0px;
        border-top: 1px solid #ffffff75;
    }
}
