@import '/src/style/variables.scss';

.videos-list{
    // margin: 72px 0px 0px 120px;
    // max-width: calc(100% - $navbar-width);
    display: grid;
    justify-content: center;
    align-items: start;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(330px,1fr));
    gap: 2rem 1rem;
    
    padding: 72px 10px 10px 10px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    // flex-direction: row;
}

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 900ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 900ms ease-in;
}  