$categories-height: 61px;
$header-height: 72px;
$navbar-width: 208px;

$secondary-bg-color: #202024;
$main-bg-color: #121214;

$nav-item-color: #D1D5DB;
$nav-active-item-color: #ffffff;

$active-item-bg: #24262a;

$video-info-color: #aaaaaa;