@import '/src/style/variables.scss';

.categories-filter__wrapper{
    overflow: hidden;
    width: calc(100vw - ($navbar-width + 20px));
    min-width: 250px;

    position: fixed;
    z-index: 1;
}

.categories-filter__inner{
    background: #121214;

    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;

    overflow-x: scroll;

    touch-action: pan-y;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.05,0,0,1);
    will-change: transform;
    white-space: nowrap;

    &::-webkit-scrollbar {
        height: 7px;
    }
}

.categories-filter__item{
    padding: 5px 20px;
    margin: 0px 6px;
    background-color: $active-item-bg;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    min-width: max-content;
    user-select: none;

    &.active{
        pointer-events: none;
        background-color: #ffffff;
        color: #121214;
    }

    &:not(.active):hover{
        background-color: #6B7280;
    }
}